<div class="card horizontal z-depth-1">
    <div class="card-stacked">
        <div class="card-content">
            <span class="card-title"> <p>
                <a class= "repoName thinText" href="{% url 'profile' uname=activity.thisGuy %}">{{ activity.thisGuy }}</a>
                started following
                <a class= "repoName thinText" href="{% url 'profile' uname=activity.thatGuy %}">{{ activity.thatGuy }}</a>

            </p></span>

            <div class="divider"></div>

        </div>
    </div>
</div>
