{% extends 'base.html' %}
{% block css %}
    <style>
        #leftSection {
            overflow-y: hidden;
            overflow-x: hidden;
            position: relative;

        }

        #leftSection-internal {
            overflow-y: hidden;
            overflow-x: hidden;
            height: 100%;
            overflow-y: hidden;
            position: relative;
        }

        .repoName {
            font-size: 1.5rem;
        }

        .thinText {
            font-weight: 200;
        }
    </style>
{% endblock %}
{% block content %}
    {% include 'navBar.html' %}

    <div class=" row full-height">
        <div id="leftSection" class="col s3 card full-height">
            <div id="leftSection-internal">
                <h3>{{ user }}</h3>
                <div class="row">
                    <div class="col s9">
                        <form>
                            <div class="input-field">
                                <input id="search" type="search" required>
                                <label class="label-icon" for="search"></label>

                            </div>
                        </form>
                    </div>
                    <div class="col s3">
                        <a href="{% url 'initrepo' %}">
                            <button class="btn btn-primary">New</button>
                        </a>
                    </div>
                </div>


                <ul class="collection with-header">
                    <li class="collection-header"><h4>List of your repositories.</h4></li>
                    {% for repo in repos %}
                        <li class="collection-item repoName thinText"><a
                                href="{% url 'detail_repo' owner=repo.owner name=repo.name %}">
                            {{ user }}/{{ repo.name }}
                        </a>
                        </li>
                    {% endfor %}
                </ul>
                </p>
            </div>
        </div>
        <div class="col s6">
            <div class="section-title">
                <div class="justify-content-center d-flex">
                    <h2>Activiy</h2>
                    {% for activity in activities %}
                        {% if activity.activity_type == 1 %}
                            {% include 'Repos/activity/createdRepo.html' %}
                        {% elif activity.activity_type == 2 %}
                              {% include 'Repos/activity/forkedRepo.html.html' %}
                        {% elif activity.activity_type == 3 %}
                              {% include 'Repos/activity/startedFollowing.html.html' %}
                        {% elif activity.activity_type == 4 %}
                              {% include 'Repos/activity/starredRepo.html.html' %}

                        {% endif %}


                    {% endfor %}

                </div>
            </div>

        </div>
        <div class="col s3">
            <div class="section-title">
                <div class="justify-content-center d-flex">
                    <h2>Explore</h2>
                </div>
            </div>

        </div>
    </div>

{% endblock %}