{% extends 'base.html' %}

{% block css %}
    <style>

        #leftSection {
            overflow-y: hidden;
            overflow-x: hidden;
            position: relative;
            height: 100vh;

        }

        #leftSection-internal {
            overflow-y: hidden;
            overflow-x: hidden;
            height: 100%;
            overflow-y: hidden;
            position: relative;
        }

        .repoName {
            font-size: 1.5rem;
        }

        .thinText {
            font-weight: 200;
        }

        .vertical {
        {#border-left: 5px solid black;#}{#height: 100%;#}
        }

        #middle-section {
            border-left: 5px solid black;
            padding: 2%;
        }

        .activities .row {
            padding: 0 !important;
        }

        .activities .col {
            padding: 0 !important;
        }

        .activities .card {
        {#padding: 0 !important;#}
        }

    </style>
{% endblock %}
{% block content %}
    {% include 'navBar.html' %}
    <div class=" row full-height">
        <div id="leftSection" class="col s3 card">
             {#  left section contains list of repositories  #}
            {% include 'home/components/leftSectionRepos.html' %}
        </div>
        <div id="middle-section" class="col s6">
             {#  middles section contains list of all activities  #}
            {% include 'home/components/middleSectionActivity.html' %}
        </div>
    </div>
    <div class="col s3">
     {#  right  section contains explore #}
        {% include 'home/components/rightSectionExplore.html' %}
    </div>
    </div>
    {% include 'footer.html' %}
{% endblock %}