<div id="issueTabSection">
    <div class="row">
        <form class="col s9"  >
            <div class="row">
                <div class="input-field col s10  ">
                    {#                <label class="" for="id_tags" style="">Tags</label>#}
                    <div type="text" name="tags" required id="id_tags"
                         class="chips chips-autocomplete chips-placeholder"></div>
                </div>
                <button id="issue_search_btn" class=" btn col s2">search</button>
            </div>

        </form>
        {% if request.user in repo.collaborators.all %}
            <div class="col s3">
                <a class="waves-effect waves-light btn modal-trigger"
                   href="{% url 'create_issue' owner=repo.owner name=repo.name %}">Create New Issue</a>
            </div>
        {% endif %}
    </div>


    <div>

        <ul id="issuesList" class="">
            <style>
                #issuesList * {
                {#padding-top: 5px;#}{#padding-bottom: 0;#}{#margin-top: 0;#}{#margin-bottom: 0;#}
                }

                .compactDiv {
                    display: inline-block;
                }
            </style>
            <div id="issue_list_area">
                {% for issue in issues %}
                    {% include 'Repos/issueDetailComponents/issue_card.html' %}
                {% endfor %}
            </div>
        </ul>

    </div>

</div>
<script>
    $('#issue_search_btn').on('click', function (event) {
        event.preventDefault();
        {#console.log($('.chips'));#}
        tag_list = new Array();
        $(".chip").each(function (index) {
            {#console.log($(this).text());#}
            tag_list.push($(this).text().slice(0, -5));
        });
        tag_list = tag_list.slice(2, tag_list.length)
        tag_list_as_string = "";
        tag_list.forEach(function (value) {
            tag_list_as_string += value + ",";
        });
        tag_list_as_string = tag_list_as_string.slice(0, -1);
        console.log(tag_list_as_string);
        $.ajax({
            url: "{% url 'filter_issue' owner=repo.owner name=repo.name %}",
            type: 'post',
            data: {
                csrfmiddlewaretoken: "{{csrf_token}}",
                tags: tag_list_as_string,
            },
            success: function (data) {
                M.toast({html: 'Success : search', classes: 'green'});
                console.log(data['html']);
                $('#issue_list_area').html(data['html']);
            },
            error: function (data) {
                M.toast({html: 'ERROR : could not search', classes: 'red'});
            }
        });
    });
</script>
