<div>
    <h3>settings tab</h3>
    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Delete Repository</a>
    <a class="waves-effect waves-light btn modal-trigger" href="{% url 'change_visibility' owner=repo.owner name=repo.name %}">Change Visibility</a>
</div>
<div id="collab-section">
    <input type="text" placeholder="Enter username">
    <a class="waves-effect waves-light btn modal-trigger" href="{% url 'add-remove-collaborator' ownerUsername=owner repoName=repo.name  %}">Add Collaborator</a>
</div>