{% extends 'base.html' %}
{% load materializecss %}
{% block css %}
    <style>
        #id_data{
            color:white;
        }
    </style>
{% endblock %}
{% block content %}
    {% include 'navBar.html' %}
    <div class="row">
        <div class="col m10 offset-m1">
            <div class="row">
                <h4>{{ issue.topic }}</h4>
            </div>
            <div class="divider"></div>
            <div class="row">
                <div class="col s9">
                    {% for comment in issue_comments %}
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text">

                                <span class="card-title">{{ comment.author }} commented  {{ comment.posted_on|timesince }} ago</span>
                                <p>{{ comment.data }} </p>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">{{ current_user }} </span>
                            <form action="{% url 'create_issue_comment' owner=repo.owner name=repo.name issue_id=issue.id %}"
                                  method="post" class="white-text">
                                {% csrf_token %}
                                {{ issue_comment_create_form|materializecss }}
                                <button
                                        class="btn" type="submit">Add Comment
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col s3">
                    <h2>right side section for things like assigned to , get notified on updates </h2>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
