<div class="card horizontal">
    <div class="card-stacked">
        <div class="card-content">
            <span class="card-title  grey-text text-darken-4">
                    <a style="font-weight:500;" class="purple-text text-darken-2 " href="{% url 'detail_repo' owner=repo.owner name=repo.name %}">
                        {{ repo.name }}
                    </a>
                    {% if repo.is_private %}
                            <div class="chip right">Private</div>
                    {% else %}
                        <div class="chip right">Public</div>
                    {% endif %}
              </span>
            <p class="left"> {{ repo.description }}</p>
        </div>
{#        <div class="card-action">#}
{#            <a href="#">C++</a>#}
{#        </div>#}
    </div>
</div>