{% if request.user in repo.star.all %}
    <a onclick="M.toast({html: 'repo has been unstarred', classes: 'light-green darken-2'})" class=" col s4 waves-effect waves-light btn btn-small modal-trigger  purple lighten-1" id="starbtn"
       href="#modal2">Stare {{ repo.star.all.count }}</a>
{% else %}
    <a onclick="M.toast({html: 'repo has been starred, classes: 'light-green darken-2'})" class="col s4 waves-effect waves-light btn btn-small modal-trigger  purple lighten-1" id="starbtn"
       href="#modal2">Star {{ repo.star.all.count }}</a>
{% endif %}