<div class="row">
    <div class="col s5">
        <form>
            <div class="input-field">
                <input id="search" type="search" required>
                {#                                            <label class="label-icon" for="search"><i class="material-icons">search</i></label>#}
                <i class="material-icons">close</i>
            </div>
        </form>
    </div>
    <div class="col s7">
        <div class="row">
            <div class="input-field col s3">
                <select>
                    <option value="" disabled selected>Type</option>
                    <option value="1">Public</option>
                    <option value="2">Private</option>
                    <option value="3">Archived</option>
                    <option value="4">Sources</option>
                    <option value="5">Forked</option>
                    <option value="6">Mirrors</option>
                </select>
                <label>Repo Type</label>
            </div>
            <div class="input-field col s4">
                <select>
                    <option value="" disabled selected>Language</option>
                    <option value="1">Any</option>
                    <option value="2">C++</option>
                    <option value="3">Java</option>
                    <option value="4">Python</option>
                    <option value="5">Javascript</option>
                    <option value="6">Swift></option>
                </select>
                <label>Language</label>
            </div>
            <div class="input-field col s3 ">
                <select>
                    <option value="" disabled selected>Sort</option>
                    <option value="1">Name</option>
                    <option value="2">Date</option>
                    <option value="3">Archived</option>
                </select>
                <label>Sort</label>
            </div>
            <a class=" btn-floating btn-large waves-effect waves-light red"><i
                    class="material-icons">add</i></a>

        </div>
        {#                                    <span>#}
        {#                                       #}
        {##}
        {#                                    </span>#}
        {#                                    <span class=""> <a class="purple lighten-1  waves-effect waves-light btn repoSearchButtons">Button</a><a#}
        {#                                            class=" purple lighten-1  waves-effect waves-light btn repoSearchButtons">Button</a><a#}
        {#                                            class=" purple lighten-1  waves-effect waves-light btn repoSearchButtons">Button</a></span>#}

    </div>


</div>
<div class="row">
    {% for repo in repos %}
        <div class="col s12">
            {% include "Repos/repoCardMini.html" %}
        </div>
    {% endfor %}
</div>