 <div class="row">
                                {% for repo in mostPopularRepos %}
                                    <div class="col s6">
                                        {% include "Repos/repoCardMini.html" %}
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="row">
                                 {% include "user/profilePageComponents/UserCommitsFrequencyPanel.html" %}
                            </div>