{% extends 'base.html' %}

{% block title %}
    Sign In
{% endblock %}

{% block content %}
<div class="container" id='signin'>
	<div class="row">
		<div class="col-12">
			<div class="card">
				<form class="box mx-auto" method="POST" action="">
					{% csrf_token %}
					<h1>Login</h1>
					<p class="text-muted"> Please enter your login and password!</p>
					<input type="text" name="username" placeholder="Username">
					<div class="passw mx-auto d-block" style="margin-bottom: -20px;">
						<input type="password" name="password" id="password" placeholder="Password">
						<span toggle="#password" class="fa fa-eye toggle-password field-icon"></span>
					</div>
					<a class="forgot" href="{% url 'signup' %}">Forgot password?</a>
					<input type="submit" name="" value="Login">
					<p class="forgot text-muted" style="line-height: 2.5em;">Don't have an account? <a
							href="{% url 'signup' %}" class="signup">Sign Up</a></p>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}