<!DOCTYPE html>
<html lang="en">
<head>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" media="screen,projection"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% block css %}
    {% endblock %}
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>


</style>

{% block content %}
{% endblock %}
{% block script %}


{% endblock script %}

<script>
    M.Toast.dismissAll();
    $('.dropdown-trigger').dropdown();
    $('.chips').chips();

    $('.chips-placeholder').chips({
        placeholder: 'Enter a tag',
        secondaryPlaceholder: '+Tag',
    });
    $('.chips-autocomplete').chips({
        autocompleteOptions: {
            data: {
                'avishkar': null,
                'csgo': null,
                'genshin': null,
                'avishkar': null,
                'divani': null,
                'dipti': null,
                'siddhi': null,
                'komi': null,
                'taiga': null,
                'yuno': null,
                'aoe': null,
                'webster': null,
                'insomnia': null,
                {% if tags %}
                    {% for tag in tags %}
                        '{{tag.name}}': null,
                    {% endfor %}
                {% endif %}

            },
            limit: Infinity,
            minLength: 1
        }
    });
    M.updateTextFields();
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                M.toast({html: 'ERROR : {{ message }}', classes: 'red'});
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                M.toast({html: 'SUCCESS : {{ message }}', classes: 'green'});
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                M.toast({html: 'WARNING : {{ message }}', classes: 'orange'});
            {% endif %}
        {% endfor %}

    {% endif %}

</script>

</body>
</html>