<div class="row">
    <div class="row">
        <!-- Dropdown Trigger -->
        <div class="valign-wrapper col s3">
            <a class='right purple dropdown-trigger btn' href='#' data-target='branchSelector'>
                {{ current_branch }} <i class="large material-icons">arrow_drop_down</i>
            </a>
            <!-- Dropdown Structure -->
            <ul id='branchSelector' class='dropdown-content'>
                {% if commit_view %}
                    {% for branch in repo_heads %}
                        <li>
                            <a href="{% url 'commit_file1' owner=repo.owner name=repo.name branch=branch %}">
                                {{ branch }}
                            </a>
                        </li>
                    {% endfor %}
                {% else %}
                    {% for branch in repo_heads %}
                        <li>
                            <a href="{% url 'detail_repo1' owner=repo.owner name=repo.name branch=branch %}">
                                {{ branch }}
                            </a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
        <style>
            #view_commit_btn {
                margin-right: 1vw;
            }
        </style>
        <div class="col s9">
            <a href="{% url 'commit_file1' owner=repo.owner name=repo.name branch="master" %}" id="view_commit_btn" class="right purple waves-effect waves-light btn-small">View Commits</a>
            {#                        <div class="row">#}
            {#                            <div class="col ">#}
            {#                                <a class="  offset-s4 purple waves-effect waves-light btn-small">Go to File</a>#}
            {##}
            {#                            </div>#}
            {#                            <div class="col">#}
            {#                                <a class=" purple waves-effect waves-light btn-small">Add File</a>#}
            {##}
            {#                            </div>#}
            {#                            <div class="col">#}
            {#                                <a class="   purple waves-effect waves-light btn-small">View Commits</a>#}
            {##}
            {#                            </div>#}
            {#                        </div>#}
        </div>


    </div>
    <div id="body" class="col s12">
        <div class="collection">

            <style>
                .collection .row {
                    padding: 1% !important;
                }

                .collection .col {
                {#padding: 0 !important;#}
                }
            </style>
            {% if isEmpty %}
                <ol>
                    <li>This is empty git repository</li>
                    <li>Create a folder ,add some files and through cmd enter <b>git init</b></li>
                    <li>git add .</li>
                    <li>git commit -m "first commit"</li>
                    <li>git remote add origin http://192.168.249.129/{{ repo.repoURL }}.git</li>
                    <li>git push -u origin</li>
                    <li>And done!! Congratulations you have pushed your files onto our servers</li>
                </ol>
            {% endif %}
            {% if file_view %}
                {{ file_content }}
            {% elif commit_view %}
                <ul class="collection">
                    {% for commit in commits %}
                        <li class="collection-item avatar">
                            <img src="https://www.vangoghgallery.com/img/starry_night_full.jpg" alt="" class="circle">
                            <span class="title">{{ commit.message }}</span>
                            <p><a href="{% url 'profile' uname=commit.author %}">{{ commit.author }} </a><br>
                                {{ commit.authored_date|timesince }}
                            </p>
                            <a class="btn secondary-content truncate orange"> {{ commit|truncatechars:8 }}</a>

                        </li>

                    {% endfor %}

                </ul>

            {% else %}
                {% for item in dirContents %}
                    <li class="collection-item row">
                        <div class="col s6"><i class="material-icons">folder</i>
                            {% if curDir == '' %}
                                <a href="{% url 'detail_repo2' owner=owner name=repo.name subpath=item branch=current_branch %}"> {{ item }}</a>
                            {% else %}
                                <a href="{% url 'detail_repo2' owner=owner name=repo.name subpath=curDir|add:'/'|add:item branch=current_branch %}"> {{ item }}</a>
                            {% endif %}
                        </div>
                        <div class="col s4"></div>
                        <div class="col s2"></div>
                    </li>
                {% endfor %}
                {% for item in fileContents %}
                    <li class="collection-item row">
                        <div class="col s6"><i class=" material-icons ">insert_drive_file</i>{% if curDir == '' %}
                            <a href="{% url 'detail_file' owner=owner name=repo.name subpath=item branch=current_branch %}"> {{ item }}</a>
                        {% else %}
                            <a href="{% url 'detail_file' owner=owner name=repo.name subpath=curDir|add:'/'|add:item branch=current_branch %}"> {{ item }}</a>
                        {% endif %}
                        </div>
                        <div class="col s4">First Commit</div>
                        <div class="col s2">69 days ago</div>
                    </li>
                {% endfor %}
            {% endif %}

        </div>
    </div>
</div>